.navbar {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  width: 100%;
}

.carousel-item {
  height: 100vh;
  width: 100%;
}

section {
  margin-top: 100px;
}

.contact-for {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

/* .footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #ddd;
}

.social-links a:link,
.social-links a:visited {
  font-size: 160%;
} */
